  <h1>{{title}}</h1>
  <div class="container-fluid cont">
    <form>
      <div class="form-row lg-form">
        <div class="form-group col-md-6">
          <label for="inputNome">Nome</label>
          <input type="text" class="form-control" id="inputNome" name="nome">
        </div>
        <div class="form-group col-md-6">
          <label for="inputSobrenome">Sobrenome</label>
          <input type="text" class="form-control" id="inputSobrenome" name="sobrenome">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputUsuario">Usuário</label>
          <input type="text" class="form-control" id="inputUsuario" name="usuario">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail">E-mail</label>
          <input type="email" class="form-control" id="inputEmail" name="email">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNasc">Data de Nascimento</label>
          <input type="date" class="form-control" id="inputNasc" name="dataNasc">
        </div>
        <div class="form-group float-right">
          <label for="genero">Gênero</label><br>
          <div class="form-check form-check-inline float-right">
            <input class="form-check-input" type="radio" id="inputGeneroF" value="F">
            <label class="form-check-label" for="inputGeneroF">Feminino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inputGeneroM" value="M">
            <label class="form-check-label" for="inputGeneroM">Masculino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inputGeneroO" value="O">
            <label class="form-check-label" for="inputGeneroO">Não informar</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputCity">Cidade</label>
          <input type="text" class="form-control" id="inputCidade" name="cidade">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Estado</label>
          <input type="text" class="form-control" id="inputEstado" name="estado">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">País</label>
          <input type="text" class="form-control" id="inputPais" name="pais">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputSenha1">Senha</label>
          <input type="text" class="form-control" id="inputSenha1" name="senha">
        </div>
        <div class="form-group col-md-6">
          <label for="inputSenha2">Confirmar Senha</label>
          <input type="email" class="form-control" id="inputSenha2">
        </div>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Desejo receber notícias da Horta
        </label>
      </div>

      <button type="submit" class="btn btn-success navbar-btn-enter float-right">Cadastrar</button>
    </form>
  </div>