<div class="row text-center d-flex justify-content-center m-0 footer">
  <div class="col">
    <ul class="nav d-flex justify-content-center mt-2">

      <li class="col-md-3 col-sm-6 text-center mt-2 d-flex flex-column footer-title">
        Redes Sociais
        <div class="row d-flex justify-content-center">
          <a href="https://www.facebook.com/" class="nav-link p-0 mt-3 m-1">
            <img src="./assets/images/logo_facebook.svg" class="img-fluid footer-social_media" alt="Logo do Facebook">
          </a>
          <a href="https://www.instagram.com/" class="nav-link p-0 mt-3 m-1">
            <img src="./assets/images/logo_instagram.svg" class="footer-social_media" alt="Logo do Instagram">
          </a>
          <a href="https://www.twitter.com/" class="nav-link p-0 mt-3 m-1">
            <img src="./assets/images/logo_twitter.svg" class="img-fluid footer-social_media" alt="Logo do Twitter">
          </a>
        </div>
      </li>

      <li class="col-md-3 col-sm-6 text-center mt-2 align-content-center footer-title">
        Produtos
        <ul class="nav d-flex flex-column footer-title">
          <li class="av-item">
            <a [routerLink]="['/oqueeh']" href="oqueeh.html" class="badge font-weight-normal footer-links">O que é?</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/porqueusar']" href="porqueusar.html" class="badge font-weight-normal footer-links">Por que
              usar?</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/inspiracao']" href="inspiracao.html" class="badge font-weight-normal footer-links">Inspiração</a>
          </li>
        </ul>
      </li>

      <li class="col-md-3 col-sm-6 text-center mt-2 d-flex align-content-center flex-column footer-title">
        Empresa
        <ul class="nav footer-title d-flex flex-column">
          <li class="nav-item">
            <a [routerLink]="['/sobre']" href="sobre.html" class="badge font-weight-normal footer-links">Sobre</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/marca']" href="marca.html" class="badge font-weight-normal footer-links">Marca</a>
          </li>
        </ul>
      </li>

      <li class="col-md-3 col-sm-6 text-center mt-2 d-flex align-content-center flex-column footer-title">
        Políticas
        <ul class="nav footer-title d-flex flex-column">
          <li class="nav-item">
            <a [routerLink]="['/termos']" href="termos.html" class="badge font-weight-normal footer-links">Termos</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/privacidade']" href="privacidade.html" class="badge font-weight-normal footer-links">Privacidade</a>
          </li>
        </ul>
      </li>
    </ul>
    <br />
    <div class="col d-flex flex-column footer-end">
      <div class="row">
        <img src="./assets/images/logo-horta.svg" class="img-fluid mt-2 ml-3 footer-logo" style="height: 40px" alt="Logo da Horta">
        <h3 class="mt-2 footer-brand_name">HORTA</h3>
      </div>
    </div>

  </div>

</div>